*{
    margin: 0;
    padding:0;
    font-family: 'Kumbh Sans', sans-serif;
}

.home-background {
	width: 75vw;
	height: 40%;
	z-index: -1;
	position:relative;
}

.navbar ul li.logo1{
	position: relative;
	width: 8vw;
	height: 40px;
	padding: 10px 0px 5px 10px;

}
.navbar ul li.logo1 .logo{
	height: 40px;
	width: 100%;
	object-fit: contain;
}
.navbar ul{
	list-style-type: none;
	background-color: black;
	width: 100vw;
	height: 60px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top:0;
	z-index: 5;
}
.navbar ul li {
	float: left;
	text-decoration: none;
	position: relative;
	display: inline-block;
	text-align: center;

}
.navbar ul li.links{
	padding: 16px 22px;
}
.navbar ul li.links a{
font-size: 125%;
color: White;
text-decoration: none;

}
.navbar ul li.active .links{
	background-color: white;
}
.navbar ul li .underline{
	height:3px;
	background-color: Transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}
.navbar ul li:hover .underline {
	background-color:white;
	width:100%;
}
.home_section1 {
	width: 100vw;
	height: 43%;
	position: absolute;
	top: 2vw;
	right: 0;
}
.welcome-info {
	margin: 5%;
	float: left;
	background-color: transparent;
	width:50vw;
	height: 100%;
	color: white;
}
.welcome-info p.title{
	margin: 0;
	font-size: 8vw;
}
.welcome-info p.explanation{
	font-size: 2vw;
	padding-top: 10px;
}
.welcome-info p.stuff-we-do{
	font-size: 2.5vw;
	padding-top: 2vw;
}
.welcome-info div.underline {
	height: 4px;
	background-color: White;
	width: 40%;
	float: left;
}
.learnMoreButton {
	margin-top: 8%;
	margin-left: 3%;
	border: 1px Solid White;
	border-radius: 25px;
	background-color: white;
 	text-color: transparent;
 	padding: .5vw 1vw;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
 	font-size: 2vw;
	cursor: pointer;
	transition: 0.5s ease;
}

.learnMoreButton:hover{
	color: White;
	background-color: grey;
	border: 1px Solid White;
}
.shuttle-homepage{
	width: 30%;
	position: absolute;
	top: 40%;
	right: 30%;
}
.our-mission{
	font-family: fantasy;
	width: 25%;
	height: 50%;
	background-color: transparent;
	position: absolute;
	right: 2vw;
	top: 10vw;
}
.our-mission p.title{
	text-align: center;
	font-size: 300%;
}
.our-mission p.mission-statement{
	text-align:center;
	font-size: 125%
}
.cards-section{
	width: 100vw;
	display:flex;
	justify-content: center;
	align-items: center;
	overflow:hidden;
	flex-flow: wrap;
}
.card {
    display: grid;
	grid-template-columns: 300px;
	grid-template-row: 210px 210px 80px;
	grid-template-areas:"text" "stats";
	font-family: roboto;
	border-radius: 18px;
	background: white;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
	text-align:center;
	transition: 0.5s ease;
	cursor: pointer;
	margin: 30px;
}
.card-text{
	padding: 50px 10px;
	margin: 25px;
	grid-area: text;
}
.card:hover{
	transform:scale(1.1);
	box-shadow:5px 5px 15px rgba(0,0,0,0.6);
}
.side-navbar {
	height: 2vw;
	width: 100vw;
	background-color: dark grey;
}
.side-navbar-access {
	width:20px;
	height: 20px;
}
@media (max-width: 720px) {
	.card{
		 
	}
}
@media (max-width: 740px){
	.navbar{
		display:none;
	}
	.home-background {
		image:"space Background.jpg";
		
	}
}
@media (max-width: 995px) {
	.home-background {
		width: 100%;
		height: auto;
	}
	.welcome-info {
		margin: 50px;
		width: 498px;
	}
	.welcome-info p.title {
		font-size: ;
	}
	.welcome-info p.explanation {
		font-size: 20px;
	}
	.welcome-info p.stuff-we-do {
		font-size: 24.5px;
	}
	.learnMoreButton {
		margin-top: 34px;
		margin-left: 14px;
		padding: 10px 15px;
		font-size: 18px;
	}
}
@media (max-width: 880px) {
	.our-mission{
		margin: 3vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 50px;
	}
}
